/* header {
    background-image: url(https://i.pinimg.com/originals/85/29/94/852994f8cc8d6ca7b67ddd84e975a2f8.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
} */
body{
    text-transform: capitalize;
    background-color: rgb(37, 66, 66);
    scroll-behavior: smooth;

}
 header ul{text-align: end;
    list-style: none;
} 

h{
    font-style: italic;
}
 ul li {
    display: inline-block;
} 

/* .container-fluid {
    position: relative;
} */

/* .img1 {
    position: absolute;
}*/
/* .a1{
    position: relative;
}  */
.card{
    justify-items: center;
    /* display: inline-; */
    font-size: larger;
    color: brown;
    border: 0rem;
    padding: auto;
}

/* .secondul {
    list-style-type: lower-alpha;
} */
/* 
#gruop{
    justify-items: center;
    margin-left: 100px;
} */
.card1{
   justify-items: center;
    width: 400px;
    /* margin-left: 120px; */
}

.foot a{
  transition: all 1s linear;
}

.foot a:hover{
     transform: scale(1.5);
}



  
.foot a  {
    display: inline-block;
    margin: 35px;
}



.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .del0{
    animation-duration: 10s;
    /* animation-delay: */
  }

  .del1{
    animation-duration: 10s;
    animation-delay:2s; 
  }

  .del2{
    animation-duration: 10s;
    animation-delay: 3s;
  }

  .del3{
    animation-duration: 10s;
    animation-delay: 6s;
  }

  .del4{
    animation-duration: 10s;
    animation-delay: 6s ;
  }
 


  .trans1 > div p{
    position: relative;
    bottom: 200px;
    left: 50px;
    color:black;
    display: none;
    font-size: 30px;
  }
  
  /* .trans1 > div{
    transition: all 0.5s ease-in-out;
  } */
  
  .trans1 > div:hover p{
    display: block;
    transition: all 0.5s ease-in-out;
  }

  .trans1 > div:hover a{
     opacity: 0.2;
     transition: all 0.5s ease-in-out;
}
